@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

:root{
    --max-width: 600px;
    --primary-color:#23D6E7;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:font-family: 'Yanone Kaffeesatz', sans-serif;
    

}

/* navigation */
nav{
    background-color: var(--primary-color) ;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
    padding: 2rem 0rem;
    
}
/* main */
main{
    max-width: var(--max-width);
    margin: auto;
}

.text-area{
    width: 100%;
    height: 20vh;
    display: block;
    border:2px solid var(--primary-color);
    margin-top: 2rem;
    

}

.btn-translate{
    border : none;
    font-size: large;
    font-family: inherit;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    margin: 1rem 0rem;
    cursor: pointer;
    border-radius: 1rem;
}

.div-output{
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--primary-color);

}

/* footer */

footer{
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    margin: 2rem 0rem;
    padding: 3rem 0rem;
}

footer div{
    font-family: inherit;
    font-size: x-large;
    text-align: center;
    max-width: var(--max-width);
    margin: auto;
    font-weight: bold;
    padding: 0.5rem 0rem;
}

footer p{
    max-width: var(--max-width);
    margin: auto;
    font-family: inherit;
}